.auth-container-onboard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .wrapper-onboard {
    height: 760px;
    width: 50vw;
    background-color: var(--primary);
    box-shadow: var(--dark) 0px 8px 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    color: var(--dark);
  }

#picker-image{
    cursor: pointer;
    height: 150px;
    margin-bottom: -45px;
}

#onboard-button{
    background-color: var(--dark);
    color: white;
    width: 80px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    outline: none;
    border-radius: 4px;
    float: right;
    margin-top: 20px;
    margin-left: 100px;
}

#onboard-heading{
    text-transform: uppercase;
    letter-spacing: 1px;
}
