.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.food-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  font-size: 12px;
  max-height: 300px;
  line-height: 17px;
  background-color: var(--tertiary);
  border-radius: 2rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  color: var(--dark);
}

#food {
  width: 100%;
  border-radius: 2rem;
}

.thali-haeding {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

#heading-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#heading-text:before{
  content: '';
  position: absolute;
  margin-top: 26px;
  width: 160px;
  height: 1.5px;
  background:#333;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  float: left;
}

#heading-text:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}

#limited-or-unlimited {
  font-size: 8px;
  text-transform: lowercase;
  padding: 6px;
  font-size: 10px;
  font-weight: 400;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 15px;
  display: inline;
}

.food-details {
  margin-top: 6px;
  margin-bottom: 30px;
  padding-left: 12px;
  padding-right: 8px;
}

#thali-description {
  font-size: 10px;
  letter-spacing: 0.5px;
  color: var(--dark);
  letter-spacing: 0.2cap;
  font-weight: 500;
}

.serve-by {
  font-size: 12px;
  font-weight: 500;
  color: var(-);
}

#mess-name {
  font-size: 13px;
  color: #d9984d;
}

.right-text{
  cursor: pointer;
}
