.househub-hero-image-container {
  background-image: url("../../assets/images/househub-hero.svg");
  width: 100%;
  height: 40vh;
  object-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.househub-hero-text {
  margin-bottom: 20px;
}

.filter-and-navbar-container {
  background-color: white;
  height: 250px;
  width: 70vw;
  border: 1px solid var(--dark);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.nav-section {
  display: flex;
  justify-content: space-around;
}

#nav-icon {
  height: 26px;
  filter: invert(100%);
}

#househub-hero-text {
  color: var(--dark);
  font-size: 24px;
  font-weight: 500;
}
.nav-option {
  background-color: var(--dark);
  color: white;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3rem;
}

.filter-section {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#select-gender {
  height: 35px;
  margin: 8px;
  font-size: 18px;
  border: 1px solid var(--dark);
}

input {
  border: none;
  outline: none;
  border: 1px solid var(--dark);
  height: 35px;
  font-size: 18px;
  padding-left: 4px;
  margin: 8px;
}

.btn-aligner {
  width: 100%;
  display: flex;
  justify-content: center;
}
.filter-apply-button {
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  background-color: var(--dark);
  color: white;
  border-radius: 3rem;
}

.househub-listings-container-aligner {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.recommended-flats {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 85vh;
  position: sticky;
  top: 58px;
  overflow: auto;
}

.househub-listings-container {
  width: 67vw;
}

.sort-section {
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 58px;
}

.property-date-down {
  background-color: rgba(28, 9, 9, 0.803);
  padding: 6px;
  color: white;
}

.property-date-up {
  background: white;
  padding: 6px;
  color: black;
}

#sort-image {
  height: 25px;
  margin-left: 9px;
}

#scroll-down {
  height: 25px;
  cursor: pointer;
}

.sort-image-down {
  filter: invert(100%);
}

/* listing card */

.househub-normal-listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.househub-listing-card {
  display: flex;
  margin-bottom: 20px;
  max-width: 408px;
  border-radius: 1rem;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.househub-listing-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 6px 10px 0px;
  transform: scale(1.0111);
  transition: transform 0.4s ease-in;
}

.househub-flat-image {
  width: 180px;
  object-fit: cover;
  object-position: center;
  margin-right: 15px;
  border-radius: 1rem;
}

.househub-listing-info {
  padding-top: 12px;
  padding-bottom: 10px;
}

#flat-title {
  font-size: large;
  color: var(--dark);
  font-size: 18px;
}

#flat-price {
  font-size: medium;
  color: var(--dark);
}

.househub-card-chip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  font-size: 12px;
}

#chip {
  background-color: var(--dark);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin-right: 2px;
  margin-left: 2px;
}

#owner-name {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
}

#description {
  letter-spacing: 0.6px;
}
.fetures-container {
  font-size: 16px;
}

#feature {
  margin-right: 5px;
  height: 16px;
}

/* for recommended flat */

.recommended-heading {
  color: var(--dark);
}
.househub-recommended-listing-card {
  display: flex;
  margin-bottom: 20px;
  max-width: 260px;
  height: 135px;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.househub-recommended-listing-card:hover{
  transform: scale(1.0111);
  transition: transform 0.4s ease-in;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 6px 10px 0px;
}

.househub-recommended-flat-image {
  width: 120px;
  object-fit: cover;
  object-position: center;
  margin-right: 5px;
  border-radius: 0.7rem;
}

.househub-recommended-listing-info {
  padding-bottom: 5px;
  padding-left: 10px;
}

#recommended-flat-title {
  margin-top: 6px;
  color: var(--dark);
  font-size: 12px;
  font-weight: 500;
}

#recommended-flat-price {
  font-size: 10px;
  color: var(--dark);
}

.recommended-househub-card-chip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3px;
  gap: 2px;
}

#recommended-chip {
  background-color: var(--dark);
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;
  border-radius: 5px;
  font-size: 8px;
  padding: 3px;
}

#recommended-owner-name {
  font-size: 12px;
  color: grey;
}

#recommended-description {
  font-size: 10px;
  color: black;
  font-weight: 500;
}
