/* :root {
  --primary: #BBE1FA;
  --secondary: #3282B8;
  --tertiary: #0F4C75;
  --dark: #1B262C;
  --text: #333;
} */

/* :root {
  --primary: #F8F6F4;
  --secondary: #E3F4F4;
  --tertiary: #D2E9E9;
  --dark: #C4DFDF;
  --text: #333;
} */

/* :root {
  --primary: #faf7f0;
  --secondary: #cdfcf6;
  --tertiary: #bccef8;
  --dark: #98a8f8;
  --text: #333;
} */

/* :root {
  --primary: #FDF7E4;
  --secondary: #FAEED1;
  --tertiary: #DED0B6;
  --dark: #BBAB8C;
  --text: #333;
} */

/* :root {
  --primary: #EEF5FF;
  --secondary: #B4D4FF;
  --tertiary: #86B6F6;
  --dark: #176B87;
  --text: #333;
  --light: #ffff;
} */

:root {
  --primary: #f6f6f7;
  --secondary: rgba(86, 204, 242, 0.5);
  --tertiary: linear-gradient(180deg, #03a9f4, #012d61);
  --dark: #012d61;
  --text: white;
  --light: #ffff;
  --grey: rgba(119, 119, 119, 0.5);
  --grey-text: rgb(105, 105, 105);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  font-family: Colfax-Light;
  font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}

/* declare all fonts here */

@font-face {
  font-family: "Colfax-Light";
  src: url("./assets/fonts/Colfax-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Colfax-Bold";
  src: url("./assets/fonts/Colfax-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Colfax-Medium";
  src: url("./assets/fonts/Colfax-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
